.main_section {
  width: 100%;
  background-color: white;
  position: absolute;
  top: 723px;
}
//inner 가운데 정렬
.main_section .main_sec .inner {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 60%;
  margin: 0 auto;
  padding: 81px 0 40px 45px;
}
//inner p 글자 공통
.main_section .main_sec .inner p {
  font-size: 18px;
  font-weight: 700;
  color: #000;
}

.main_section .main_sec {
  margin-bottom: 10px;
}

//section 1
// paik's coffee story 영역
.main_section .row1 {
  position: relative;
  background-image: url(../images/main_sec1.jpg);
  background-repeat: no-repeat;
  width: 1920px;
  height: 230px;
  margin: 0 auto;
  margin-bottom: 5px;

  & .inner {
    width: 1150px;
    height: 100px;
    padding-top: 30px;
    margin: 0 auto;
  }
}
//
//section 2
//fresh coffee영역

// 이미지 확대 애니매이션효과
.main_section .main_sec .fresh_coffee {
  overflow: hidden;
  position: relative;

  &:hover {
    & > img {
      width: 100%;
      height: 100%;
      transition: 0.8s ease;
      transform: scale(1.1, 1.1);
    }
  }
  &:not(:hover) {
    > img {
      width: 100%;
      height: 100%;
      transition: 0.8s ease;
      transform: scale(1, 1);
    }
  }
}

// 글자설정
.main_section .main_sec .fresh_coffee .inner h1 {
  font-size: 50px;
  font-weight: 900;
  color: #6b4d30;
  &::after {
    content: "";
    display: block;
    width: 37px;
    height: 2px;
    margin: 28px 0;
    background: #7f5b39;
  }
}

//버튼위치
.main_section .main_sec .fresh_coffee .button_area .btn {
  margin-top: 200px;
}
//

//section 3
// various beverage, sweet paik's ccino 영역
.main_section .row3 {
  width: 100%;
  display: flex;
}

.main_section .row3 .valrious_beverage {
  overflow: hidden;
  margin-right: 10px;
  position: relative;
  width: 60%;
  &:hover {
    & > img {
      width: 100%;
      height: 100%;
      transition: 0.8s ease;
      transform: scale(1.1, 1.1);
    }
  }
  &:not(:hover) {
    > img {
      width: 100%;
      height: 100%;
      transition: 0.8s ease;
      transform: scale(1, 1);
    }
  }
  & .inner {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-25%);
    width: 60%;
    margin: 0 auto;
    padding: 81px 0 40px 45px;
    & h1 {
      color: #071f60;
      &::after {
        content: "";
        display: block;
        width: 37px;
        height: 2px;
        margin: 28px 0;
        background: #071f60;
      }
    }
  }
  //버튼위치
  & .button_area .btn {
    margin-top: 200px;
  }
}

.main_section .row3 .sweet_paiksccino {
  overflow: hidden;
  position: relative;
  width: 40%;
  &:hover {
    & > img {
      width: 100%;
      height: 100%;
      transition: 0.8s ease;
      transform: scale(1.1, 1.1);
    }
  }
  &:not(:hover) {
    > img {
      width: 100%;
      height: 100%;
      transition: 0.8s ease;
      transform: scale(1, 1);
    }
  }

  & .inner {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-75%);
    width: 60%;
    margin: 0 auto;
    padding: 81px 0 40px 45px;
    & h1 {
      color: #f1ae1d;
      &::after {
        content: "";
        display: block;
        width: 37px;
        height: 2px;
        margin: 28px 0;
        background: #f1ae1d;
      }
    }
  }
  //버튼위치
  & .button_area .btn {
    margin-top: 200px;
  }
}

//

//section 4
// store, franchise, tasty ice cream/dessert영역
.main_section .row4 {
  display: flex;
  justify-content: flex-end;
  & .small_box {
    display: flex;
    flex-flow: row-reverse wrap;
    width: calc(47% - 10px);
    margin-right: 10px;

    & .find_store {
      position: relative;
      max-width: 504px;
      width: 504px;
      height: 291px;
      margin-bottom: 10px;
      border: 2px solid #071f60;

      & .inner {
        width: 504px;
        height: 291px;
        box-sizing: border-box;
        padding: 48px 37px 42px 37px;
        & h1 {
          font-size: 35px;
          margin-bottom: 11.2px;
        }
        & p {
          font-size: 15px;
          // 굵기지정할것, placeholder 글씨적용 , 아래 버튼 수정
        }
        & .find_area {
          position: relative;
          width: 326px;
          height: 40px;
          margin-top: 90px;
        }
        & .find_area .find {
          width: 326px;
          height: 40px;
          border: 2px solid #071f60;
          box-sizing: border-box;
        }
        & .search {
          position: absolute;
          top: 8.5px;
          right: 3px;
          width: 23px;
          height: 23px;
          & > img {
            width: 23px;
            height: 23px;
          }
        }
      }
    }
    & .franchise {
      position: relative;
      max-width: 504px;
      width: 504px;
      height: 291px;
      background: url(../images/main_sec6.png) no-repeat bottom right;
      background-size: 248px 243px;
      border: 2px solid #071f60;
      & .inner {
        width: 504px;
        height: 291px;
        box-sizing: border-box;
        padding: 48px 37px 42px 37px;
        & h1 {
          font-size: 35px;
          margin-bottom: 11.2px;
        }
        & p {
          font-size: 15px;
        }
      }
    }
  }
  & .Tasty_IceCream_Dessert {
    overflow: hidden;
    position: relative;
    width: calc(53% - 10px);

    &:hover {
      & > img {
        width: 100%;
        height: 100%;
        transition: 0.8s ease;
        transform: scale(1.1, 1.1);
      }
    }
    &:not(:hover) {
      > img {
        width: 100%;
        height: 100%;
        transition: 0.8s ease;
        transform: scale(1, 1);
      }
    }

    & .inner {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-75%);
      width: 60%;
      margin: 0 auto;
      padding: 81px 0 40px 45px;
      & h1 {
        color: #ffffff;
        &::after {
          content: "";
          display: block;
          width: 37px;
          height: 2px;
          margin: 28px 0;
          background: #ffffff;
        }
      }
      & p {
        color: #ffffff;
      }
    }
    //버튼위치
    & .button_area .btn {
      margin-top: 160px;
    }
  }
}
